body{
  background-image: url("hond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica;
}
.relatieven{
  position: relative;
  top: 300px;
  left: 500px;
  width: 700px;
}

.nav {
  position: absolute;
  top: 0px;
  left: -200px;
  color: white;
  font-size: 140%;
}
.nav a:link{
  color: white;
}
.nav a:visited{
  color: white;
}

.contact{
  position: absolute;
  top: -200px;
  left: 0px;
  color: white;
}

.contact a:link{
  color: white;
}
.contact a:visited{
  color: white;
}
